html {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

h1,
p {
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 100vh;
  margin: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(135deg, hsl(0deg, 0%, 100%) 0%, hsl(0deg, 100%, 98%) 100%);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px;
}
main #logo img {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transform-origin: left;
          transform-origin: left;
}
main #hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main #hero img {
  width: 100%;
}
main > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  padding: 64px 32px;
  text-align: center;
}
main > div h1 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 300;
  line-height: 44px;
  color: hsl(0deg, 36%, 70%);
}
main > div h1 span {
  font-weight: 600;
  color: #473E3F;
}
main > div p {
  font-size: 14px;
  color: hsl(0deg, 36%, 70%);
}
main > div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}
main > div form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 48px;
  border: 1px solid hsla(0deg, 36%, 70%, 0.5);
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main > div form > div input {
  width: 100%;
  border: 2px solid transparent;
  border-radius: 48px;
  padding: 12px 80px 12px 24px;
}
main > div form > div input::-webkit-input-placeholder {
  color: hsl(0deg, 36%, 70%);
  opacity: 50%;
  font-family: "Josefin Sans", sans-serif;
}
main > div form > div input::-moz-placeholder {
  color: hsl(0deg, 36%, 70%);
  opacity: 50%;
  font-family: "Josefin Sans", sans-serif;
}
main > div form > div input:-ms-input-placeholder {
  color: hsl(0deg, 36%, 70%);
  opacity: 50%;
  font-family: "Josefin Sans", sans-serif;
}
main > div form > div input::-ms-input-placeholder {
  color: hsl(0deg, 36%, 70%);
  opacity: 50%;
  font-family: "Josefin Sans", sans-serif;
}
main > div form > div input::placeholder {
  color: hsl(0deg, 36%, 70%);
  opacity: 50%;
  font-family: "Josefin Sans", sans-serif;
}
main > div form > div #icon-error {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  right: 80px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
main > div form > div button {
  position: absolute;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  cursor: pointer;
  right: -1px;
  border-radius: 48px;
  border: none;
  height: 100%;
  width: 56px;
  background: rgb(248, 191, 191);
  background: linear-gradient(135deg, rgb(248, 191, 191) 0%, rgb(238, 140, 140) 100%);
}
main > div form #error-message {
  text-align: left;
  margin-left: 24px;
  color: hsl(0deg, 93%, 68%);
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

@media (min-width: 576px) {
  main {
    max-width: 500px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  main {
    max-width: 700px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  main {
    max-width: none;
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  main #logo {
    position: absolute;
    left: 176px;
    top: 64px;
    padding: 0;
  }
  main #logo img {
    width: 158px;
    height: 33px;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  main #hero {
    height: 100%;
  }
  main #hero img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  main #container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 224px 176px 144px 144px;
  }
  main #container h1 {
    font-size: 64px;
    line-height: 70px;
    letter-spacing: 16px;
  }
  main #container p {
    font-size: 16px;
    line-height: 24px;
  }
  main #container form {
    width: 100%;
  }
  main #container form div > button:hover {
    opacity: 50%;
    -webkit-box-shadow: 0 10px 15px hsl(0deg, 93%, 68%);
            box-shadow: 0 10px 15px hsl(0deg, 93%, 68%);
  }
}/*# sourceMappingURL=styles.css.map */